@{
    ViewData["Title"] = "Excuse List";
    System.Data.DataView data = ViewBag.DataExcuse;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Teddy Shomali</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bx bx-home"> <span>Home</span></i></a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Excuse" asp-action="ExcuseIndex"><i class="bx bx-home"><span>Excuses List</span></i></a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Attendance"><i class="bi bi-table"><span>Attendance Table</span></i></a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Emplist"><i class="bi bi-table"></i> <span>Employee List</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <main>
    <section id="excuses" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h3>Excuses List</h3>
                <br><br>

                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Date</th>
                            <th scope="col">Leaving reason</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (data != null)
                        {
                            @foreach (System.Data.DataRowView rowView in data)
                            {
                                System.Data.DataRow row = rowView.Row;
                                string x = row["JOP_TYPE"].ToString();
                                int v = Int32.Parse(x);
                                <tr data-id='@row["LEAVING_ID"]'>
                                    <th scope="row">1</th>
                                    <td>@row["EMP_NAME"]</td>
                                    <td>@row["DATE"]</td>
                                    <td>@row["STATUS"]</td>
                                    <td><button type="button" class="btn btn-outline-info">Approve</button> <button type="button" class="btn btn-outline-danger">Reject</button></td>
                                </tr>
                            }
                        }
                     
                    </tbody>
                </table>
            </div>

        </div>
    </section><!-- End E Section -->
    </main>
</body>